LLM_API_KEY=your_api_key_here

LLM_BASE_URL=https://api.deepseek.com

LLM_MODEL=deepseek-chat


EMBEDDING_API_KEY=your_embedding_api_key_here

EMBEDDING_BASE_URL=https://{WorkspaceId}.cn-beijing.maas.aliyuncs.com/compatible-mode/v1

EMBEDDING_MODEL=text-embedding-v4

EMBEDDING_DIMENSIONS=1024

DATABASE_URL=mysql+pymysql://username:password@127.0.0.1:3306/agent01?charset=utf8mb4

DEFAULT_USER_EMAIL=local-user@agent01.local
DEFAULT_KNOWLEDGE_BASE_NAME=Default Knowledge Base